@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a asp-controller="User"asp-action="Registration">Add Product</a>
<a asp-controller="Promotion"asp-action="index">Send Promotion</a>
<a asp-controller="Product"asp-action="index">Add Product</a>

