
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model SalesSystem.Models.UserViewModel

<link href="~/Content/Custom.css" rel="stylesheet" />

<div class="container">

    <div class="row align-items-center registration-pulldown">
     
 
       
        <div class="col-sm"></div>
        <div class="col-sm  RegistrationDiv Logindiv align-items-center">
            <h1 class="header-custom text-center ">Login</h1>
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-group" }))
            {
                <div class="form-group">
                    <label>Email Address</label>
                    @Html.TextBoxFor(p => p.username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.username, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label>Password</label>
                    @Html.TextBoxFor(p => p.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(p => p.Password, "", new { @class = "text-danger" })
                </div>

                if (TempData[SalesSystem.BLL.BOD.CommonValues.UnSuccess]!= null)
                {
                    <label class="alert-danger border text-capitalize  p-2 border-danger rounded">invalid username Or password</label>
                }

                <button type="submit" class="btn btn-primary  loginsubmitcustom col-sm-4">Submit</button>
            }
            <div class="col-sm"></div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>


